<div class="container">
    <h1 class="d-flex align-items-center">
        <i class="bi bi-card-text me-2" style="color: #3399cc;"></i>
        案件情報&nbsp; 
		<a href="/manager/job/<%= job._id %>/edit" class="btn btn-primary btn-sm">編集</a>
    </h1>
<div style="margin-left:1em;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">案件名: <%= job.案件名 %></li>
        <li class="list-group-item">スタッフ: <%= job.スタッフ %></li>
        <li class="list-group-item">開始日: <%= job.開始日 ? job.開始日.toISOString().substring(0, 10) : '未設定' %></li>
        <li class="list-group-item">終了日: <%= job.終了日 ? job.終了日.toISOString().substring(0, 10) : '未設定' %></li>
    </ul>
</div>

    <h1 class="mt-4">
		<i class="bi bi-card-text me-2" style="color: #3399cc;"></i>
		機器台帳&nbsp;<a href="#" class="btn btn-primary btn-sm">編集</a></h1>
    <h1 class="mt-4"><i class="bi bi-card-text me-2" style="color: #3399cc;"></i>
		スタッフ&nbsp;<a href="#" class="btn btn-primary btn-sm">編集</a></h1>
	<h1 class="mt-4"><i class="bi bi-card-text me-2" style="color: #3399cc;"></i>
		チェックシート&nbsp;<a href="#" class="btn btn-primary btn-sm">編集</a></h1>
</div>
