<div class="container">
<h1 style="border-bottom:1px solid #ddd"><i class="bi bi-briefcase me-2" style="color: #3399cc;"></i>案件資料</h1>
    <h2 class="mt-4">
        <i class="bi bi-card-text me-2" style="color: #3399cc;"></i>
        案件情報
<a href="/manager/job/<%= job._id %>/edit" class="bi bi-pencil-fill ms-2 fs-5" style="color: #0d6efe;"></a>
    </h2>
<div style="margin-left:1em;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">案件名: <%= job.案件名 %></li>
        <li class="list-group-item">略称: <%= job.略称 %></li>
        <li class="list-group-item">スタッフ: <%= job.スタッフ %></li>
        <li class="list-group-item">開始日: <%= job.開始日 ? job.開始日.toISOString().substring(0, 10) : '未設定' %></li>
        <li class="list-group-item">終了日: <%= job.終了日 ? job.終了日.toISOString().substring(0, 10) : '未設定' %></li>
    </ul>
</div>

    <h2 class="mt-4">
		<i class="bi bi-book me-2" style="color: #3399cc;"></i>
		機器台帳<a href="/manager/job/<%= job._id %>/edit" class="bi bi-pencil-fill ms-2 fs-5" style="color: #0d6efe;"></a></h2>
    <h2 class="mt-4"><i class="bi bi-people-fill me-2" style="color: #3399cc;"></i>
		スタッフ<a href="/manager/job/<%= job._id %>/edit" class="bi bi-pencil-fill ms-2 fs-5" style="color: #0d6efe;"></a></h2>
	<h2 class="mt-4"><i class="bi bi-card-checklist me-2" style="color: #3399cc;"></i>
		チェックシート<a href="/manager/job/<%= job._id %>/edit" class="bi bi-pencil-fill ms-2 fs-5" style="color: #0d6efe;"></a></h2>
</div>
