<div class="container">
    <h1 class="mb-4"><%= title %></h1>

    <% if (documents.length === 0) { %>
        <p>まだチェックシートの内容はありません。</p>
    <% } else { %>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <% Object.keys(documents[0]).forEach(field => { %>
                        <% if (field !== '_id' && field !== '__v') { %> <!-- _id と __v を除外 -->
                            <th><%= field %></th>
                        <% } %>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <% documents.forEach(doc => { %>
                    <tr>
                        <% Object.keys(doc).forEach(field => { %>
                            <% if (field !== '_id' && field !== '__v') { %>
                                <td>
                                    <% if (field === '項番') { %>
                                        <a href="/manager/sheet/<%= id_sheet %>/edit?id=<%= doc._id %>"><%= doc[field] %></a>
                                    <% } else { %>
                                        <%= doc[field] %>
                                    <% } %>
                                </td>
                            <% } %>
                        <% }) %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>

    <!-- ボタン -->
    <div class="mt-3">
        <% 
        // id_sheetから末尾の '_sheet' を取り除いて案件のObjectIdを抽出
        const jobId = id_sheet.replace(/_sheet$/, ''); 
        %>
        <a href="http://132.226.0.120:5000/manager/job/<%= jobId %>/info" class="btn btn-secondary">戻る</a>
        <a href="/manager/sheet/<%= id_sheet %>/edit" class="btn btn-primary me-2">追加</a>
    </div>
</div>
