<div class="container">
<h1>ソースコード<a href="/admin/" class="bi bi-arrow-left-circle-fill ms-2 fs-2" style="color: #0d6efe;"></a></h1>
	<ul>
		<% function renderTree(nodes) { %>
			<% nodes.forEach(node => { %>
				<li>
					<% if (node.isDirectory) { %>
						<strong><%= node.name %></strong>
						<ul><%= renderTree(node.children) %></ul>
					<% } else { %>
						<a href="/admin/src/view?file=<%= node.path %>"><%= node.name %></a>
					<% } %>
				</li>
			<% }) %>
		<% } %>
		<%= renderTree(tree) %>
	</ul>
</div>
