<div class="container">
	<ul>
		<% function renderTree(nodes) { %>
			<% nodes.forEach(node => { %>
				<li>
					<% if (node.isDirectory) { %>
						<strong><%= node.name %></strong>
						<ul><%= renderTree(node.children) %></ul>
					<% } else { %>
						<a href="/admin/src/view?file=<%= node.path %>"><%= node.name %></a>
					<% } %>
				</li>
			<% }) %>
		<% } %>
		<%= renderTree(tree) %>
	</ul>
</div>
